body{
    margin-left: auto;
    margin-bottom: auto;
}

a{
    text-decoration: none;
    
}

ul{
    list-style: none;
}
.header{
    max-width: 1440px;
    max-height: 118px;
    margin-top: 32px;
    

}



.container-head{
    display: flex;
    margin-left: 110px;

}

.name-logo{
   color:  #211F54;
   margin-left: 15px;
   margin-top:14px;
   font-size: 25px;
}


.nav-list{
    display: flex;
    margin-left: 50px; 
}

.item:last-child{
     margin-left:50px ;
}


.item{
    margin-left: 20px;
    
    
}

.item-link{
    color: #211F54;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
}

.right-header{
    margin-top: 25px;
    margin-left: 300px;
   
    
}

.btn{
    padding-left: 30px;
    background-color: #0075FF;
    border-radius: 14px ;
    padding: 17px 24px 19px 24px
}

.link-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}