
body{
    margin-left: auto;
    margin-bottom: auto;
}

a{
    text-decoration: none;
    
}

ul{
    list-style: none;
}



/*header*/
.header{
    max-width: 1440px;
    max-height: 118px;
    margin-top: 32px;
    

}



.container-head{
    display: flex;
    margin-left: 110px;

}

.name-logo{
   color:  #211F54;
   margin-left: 15px;
   margin-top:14px;
   font-size: 25px;
}


.nav-list{
    display: flex;
    margin-left: 50px; 
}

.item:last-child{
     margin-left:50px ;
}


.item{
    margin-left: 20px;
    
    
}

.item-link{
    color: #211F54;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
}

.right-header{
    margin-top: 20px;
    margin-left: 350px;
   
    
}

.btn{
    padding-left: 30px;
    background-color: #0075FF;
    border-radius: 14px;
    padding: 17px 24px 19px 24px;
    border: none;
}

.link-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 20px;
}

.span-right{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #211F54;
}

    /*main*/

.back-img {
    background: url(/img/IMAGE.png) ;
    background-repeat: no-repeat;
    background-position: ;
    width: 720px;
    height: 720px;;
}    

.container {
    max-width: 1440px;
    max-height: 735px;
    margin-left: 115px;
}

.text-size {
  
    margin-top: 210px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    line-height: 74px;
    color: #211F54;
    width: 520px;
    height: 150px;
}

.text-small{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: #6E7191;
    width: 591px;
    height: 91px;
    
}

.link-get {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    
    


}

.btn-get {
    background-color: #0075FF;
    border-radius: 14px ;
    padding: 22px 38px 26px 38px;
    border: none;
   
     
    
    
}

.section-button {
    display: flex;
    margin-top: 34px;
    
    

}

.img-icon {
    margin-left: 28px;

}

.call-us{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #6E7191;

}

.call-number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #211F54;
}