*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{

    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    
}

ul{
    list-style: none;
}



/*header*/
.header{
    max-width: 1440px;
    max-height: 118px;
    margin-top: 32px;
    

}



.container-head{
    display: flex;
    margin-left: 110px;

}

.name-logo{
   color:  #211F54;
   margin-left: 15px;
   margin-top:14px;
   font-size: 25px;
}


.nav-list{
    margin-top: 12px;
    display: flex;
    margin-left: 50px; 
}

.item:last-child{
     margin-left:50px ;
}


.item{
    margin-left: 20px;
    
    
}

.item-link{
    color: #211F54;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
}

.right-header{

    margin-left: 350px;
   
    
}

.btn{
    padding-left: 30px;
    background-color: #0075FF;
    border-radius: 14px;
    padding: 17px 24px 19px 24px;
    border: none;
}

.link-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 20px;
}

.span-right{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #211F54;
}

    /*main*/


.container {
    display: flex;
    max-width: 1440px;
    
}


.content {
    
    margin-left: 115px;
}

.text-paragraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    width: 590px;
    height: 90px;
    margin-top: 20px;
    color: #6E7191;

}


.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    line-height: 74px;
    width: 520px;
    height: 150px;
    margin-top: 200px;
    color: #211F54;
}

.btn-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.btn-contact{
    background-color: #0075FF;
    border-radius: 14px;
    padding: 26px 38px 26px 38px;
    border: none;
}

.contacts {
    margin-top: 30px;
    display: flex;
    align-items: center;
    
}

.tel {
    display: flex;
    flex-direction: column;
    gap: 4px;
  
    
}

.call-us {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #6E7191;
}

.tel-number{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #211F54;
}

.img-icon{
    margin-left: 20px;
}
.img-right{
    margin-top: 20px;
}